@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0B1120;
  color: #F1F5F9;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0B1120;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
